* {
    box-sizing: border-box;
}
 
body {
     margin: 0;
}

.intro, 
footer {
    text-align: center;
    margin: 0 auto;
}


h3, p {
    margin: 2px;
}

p, footer {
    color:rgb(167, 163, 160);
    margin-bottom: 30px;
}

.heading {
    display: inline-block;
    width: 100%;
    height: 100px;
    line-height: 100px;
    color: white;
    background-color: darkblue;
    text-align: center;
    vertical-align: middle;
    margin-top: 0;
}

.container {
    width: 95%;
    margin: 0 auto;
} 

/* set border to none to remove all borders */
fieldset {
    display: block;
    border: none;
}

/* set up top and bottom according to layout of example pictures */
fieldset.contact {
    border-top: double;
    border-bottom: 1px solid;
}

legend {
    font-weight: 700;
    font-size: 1.75rem;
    padding-top: 50px;
    margin-bottom: 5px;
}

.inln {
    display: block;
    width: 90%;
    margin-bottom: 4px;
}

.btmlabel {
    font-weight: 300;
    display: inline-block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    display: inline-block;
    margin: 4px 0 8px 0;
    padding: 8px;
    font-size: 1rem;
    width: 100%;
    height: 50px;
    color: #333;
    background-color:rgb(211, 210, 209);
    border: 2px solid lightgray;
    border-radius: 4px;
}

#zip {
    max-width: 200px;
}

input[type="checkbox"],
input[type="button"] {
    margin: 0 4px 8px 0;
}

.btn {
    width: 100%;
    padding: 12px 0;
    color: white;
    background-color:aquamarine;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    margin: 1.2rem auto 2.5rem;
    display: block;
    cursor: pointer;
}

textarea {
    width: 100%;    
    height: 100px;
}

/* include focus for when user tabs or clicks on text feild */
input:focus, textarea:focus, select:focus {
    outline: 3px solid darkblue;
}

/* change the layout of form for tablet and desktop screens  */
@media screen and (min-width: 768px) {
    .inln {
        display: inline-block;
        width: 100px;
    }

    .container {
        width: 70%;
    }
    
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select {
        width: 80%;
    }
}
  
